.sol-highlight {
  border: 2px dashed;
  border-color: rgb(72,196,72);
  padding: 8px;
  margin-bottom: 16px;
}

.active .sol-highlight {
  border-color: rgb(62,113,62);
  padding: 8px;
  margin-bottom: 16px;
}

pre code .sol-highlight {
  margin-bottom: 0px;
}

textarea {
  font-family: monospace;
}
